.betweenContentandFooter {
  margin-top: 20px;
  background-color: #61dafb;
  width: 150px;
  height: 50px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid #61dafb;
  border-left: solid #61dafb;
  border-right: solid #61dafb;
}

.footermain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: groove #61dafb;
  border-radius: 0px 20px 20px;
  margin-bottom: 50px;
  padding: 20px;
  height: 300px;
}


/* 입력하기 */
.add-form {
  background-color: #eee;
  border-radius: 12px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
  padding: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-label {
  font-size: 17px;
  font-weight: 700;
}

.add-input {
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 12px;
  padding: 0 12px;
}

.add-input2 {
  height: 80px;
  width: 400px;
  border: none;
  border-radius: 12px;
  padding: 0 20px;
}

.add-button {
  border: none;
  height: 40px;
  border-radius: 10px;
  background-color: #61dafb;
  ;
  width: 140px;
  color: #fff;
  font-weight: 700;
}

/* 헤더 */
.container {
  border: 1px solid #ddd;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}


/* 레이아웃 */
.layout {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}


/* 리스트 바디 구간 */
.list-container {
  padding: 0 24px;
}

.list-wrapper {
  width: 65%;
  overflow-y: auto;
}


/* 방명록 리스트 구간 */
.todo-container {
  width: 98%;
  height: 130px;
  border-radius: 10px;
  border: solid #61dafb;
  ;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.guestname {
  height: 50px;
  border-bottom: solid #61dafb;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.guestbookbody {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-weight: 400;
  font-size: large;
}

.button-set {
  display: flex;
  justify-content: space-around;
}

.button {
  border: none;
  width: 50%;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.removebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  font-size: 15px;
  font-weight: 900;
  margin-right: 0px;
  background-color: #61dafb;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
