.main-bg {
    height: 400px;
    background-color: green;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./IMG_5689.jpg);
    /* ⬆️ 이 속성 url은 IMG_5689.jpg 우클릭 하셔서 경로 복사하기 누르신 다음에 입력해주세용! */
    background-size: 800px;
    background-repeat: no-repeat;
}

.header {
    background-color: #61dafb;
    height: 200px;
}

.member-tittle {
    margin-top: 30px;
    background-color: rgb(27, 160, 249);
    width: 150px;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid rgb(27, 160, 249);
    border-left: solid rgb(27, 160, 249);
    border-right: solid rgb(27, 160, 249);
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.intro {
    width: 100%;
    display: flex;
    border: groove rgb(27, 160, 249);
    border-radius: 0px 20px 20px;
    height: 400px;
    padding: 50px;
}

.card {
    border: 1px solid rgb(27, 160, 249);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    /* margin-right: 0.5px; */
    /* max-height: 00px; */
    /* background-color: rgb(27, 160, 249); */
}

.memberImage {
    border: 1px solid rgb(27, 160, 249);
    border-radius: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 버튼 태그에 대한 css/ 근데 .card의 cursor 속성을 이용하여 링크를 걸지 생각중. */
/* .devBlog {
    border: none;
    height: 40px;
    border-radius: 10px;
    background-color: #61dafb;
    ;
    width: 140px;
    color: #fff;
    font-weight: 700;
} */

h3 {
    text-align: right;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 500px;
}

p {
    text-align: right;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500px;
}

/* .modal {
    margin-top: 30px;
    padding: 30px;
    background-color: aliceblue;
    text-align: center;
  } */